* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: #0a1c3e;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.logo {
  align-items: center;
  height: 50px;
  margin: auto;
}

.navigasi {
  margin: auto;
}
.navigasiList {
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: underline;
}

.search {
  display: flex;
  align-items: center;
}
.input-search {
  width: 200px;
  height: 20px;
  border: none;
  margin: auto;
}

.input-submit {
  width: 80px;
  height: 20px;
  border: none;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
}

.login {
  margin: 0 20px 0 20px;
  color: white;
}

nav p a {
  color: #ffffff;
}

nav p a:hover {
  border-bottom: 2px solid white;
}

.imgHeader {
  height: 300px;
  width: 750px;
  margin-top: 100px;
  margin-left: 65px;
}

.promo1 {
  margin-top: -300px;
  margin-left: 78%;
  font-weight: bold;
  color: #000000;
}

.promo2 {
  width: 350px;
  margin-top: -5px;
  margin-left: 68%;
}

.linkPromo {
  margin-left: 80%;
  font-weight: bold;
  color: #249475;
}

.judul-produk {
  color: #249475;
  font-weight: bold;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #1d2042;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: white;
  font-family: Poppins;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.content {
  max-height: 30%;
  width: 50%;
}

.tittle-p {
  margin-top: 2%;
  margin-left: 70px;
}

.populer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.populer img {
  border-radius: 10px;
}

.harga {
  color: #06d85f;
}

.link a {
  color: white;
}

.link a:hover {
  color: #06d85f;
}

.judul-produk {
  text-align: center;
  margin-left: -40px;
}
.pesan {
  background-color: #06d85f;
  padding: 4%;
  border-radius: 10px;
}

.pesan:hover {
  background-color: white;
  padding: 4%;
  border-radius: 10px;
}

.pesan img {
  width: 20px;
  margin-top: 15px;
}

.promo3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 5%;
  margin-right: 5%;
}

.akunml1 {
  width: 300%;
  height: 80%;
  margin-left: -5%;
}

.akunml2 {
  width: 300%;
  height: 80%;
  margin-left: 200%;
}

header6 {
  width: 500px;
  height: 70px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: -200px;
  display: flex;
}

div p a {
  color: #249475;
}

.linkPromo2 {
  width: 350px;
  margin-top: -5px;
  margin-left: 500px;
}

.linkPromo3 {
  width: 350px;
  margin-top: -5x;
  margin-left: 230px;
}
